:root {
  --background: #f8f8f8;
  --primary: #48a1af;
  --secondary: #337180;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background);
  color: black;
}
